<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="mb-0">Patients</h1>
  <%= link_to new_patient_path, class: 'btn btn-primary' do %>
    <i class="fas fa-user-plus me-2"></i>Add New Patient
  <% end %>
</div>

<div class="row">
  <% @patients.each do |patient| %>
    <div class="col-md-6 col-lg-4">
      <div class="card patient-card">
        <div class="patient-info">
          <h5 class="card-title"><%= patient.name %></h5>
          <p class="card-text">Age: <%= patient.age %></p>
        </div>
        <div class="patient-actions">
          <%= link_to patient, class: 'btn btn-icon btn-info' do %>
            <i class="fas fa-eye"></i>
          <% end %>
          <% if can? :update, patient %>
            <%= link_to edit_patient_path(patient), class: 'btn btn-icon btn-warning' do %>
              <i class="fas fa-edit"></i>
            <% end %>
          <% end %>
          <% if can? :destroy, patient %>
            <%= button_to patient_path(patient), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-icon btn-danger' do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
